@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    font-family: 'Share Tech Mono', monospace;
    padding: 0px;
    margin: 0px;
    color: #d6a9d6;
}

body {
    background: #261a26;
}

ul, li {
    list-style: none;
}

a:visited, a:link {
    color: #bf7ecc;
    text-decoration: none;
}

a:hover {
  color: #cba9d6;
}

input:focus::placeholder {
  opacity: 0%;
}

#container1 {
    padding: 3em;
}

.panel {
    background-color: #261a25;
    margin-top: 2em;
    border: 2px solid #cc7ec2 ;
    border-radius: 10px;
}

.panel h2 {
    margin: 20px;
}

.search {
    background: #261a25;
    border: none;
}

.search input {
    width: 96%;
    background: #251a26;
    border: 2px solid #cc7eae ;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    transition: opacity 0.5s ease-in-out;
}

.zerne{
    margin-left: 4em;
    padding: 0px;
    width: 11em;
    object-fit: cover;
    border: 2px solid #cc7ec8 ;
    border-radius: 10px;
}
